/* ================================================== */
/* ============== Additionnal css ================== */
/* ================================================== */

/* Bouton de basculement du thème */
.theme-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Styles pour la partie principale de l'affichage */

/* Thème clair */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Thème sombre */
body.dark {
  background-color: #141313;
  color: #ffffff;
}
